<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TekTalkDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C7464A41C2D3E7900433CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7464BA1C2D3E7A00433CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C7464C51C2D3E7A00433CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
